SHPEFeedsReader/Service References/FeedsService/FeedsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SHPEFeedsReader.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SHPEFeedsReader.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFeedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedItem" nillable="true" type="tns:FeedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedItem" nillable="true" type="tns:ArrayOfFeedItem" />
  <xs:complexType name="FeedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostaslCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedItem" nillable="true" type="tns:FeedItem" />
</xs:schema>